@tailwind base;

@tailwind components;

@tailwind utilities;


::-webkit-scrollbar {
    display: none;
}
.principalBar{
    background-color:#252526;
}
.sidebar{
    background-color: #252526;
}
.tabtitleactive{
    background-color: #1e1e1e;
}
.tabbar{
    background-color: #1e1e1e;
}
.tabtitle{
    background-color: #2d2d2d;
}
.chevron::before {
	border-style: solid;
	border-width: 0.1em 0.1em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.50em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}

.chevron.right:before {
	left: -0.15em;
	transform: rotate(45deg);
}
.chevron.bottom:before {
    top: 0.50em;
    left: -0.15em;
	transform: rotate(135deg);
}

.comment {
	color: #a3a3a3;
	@apply text-xl;
}
.codePurple{
	color: #d368ce;
	@apply text-xl;
}

.codeBlue{
	color: #75b0d4;
	@apply text-xl;
}
.codeOrange{
	color: #ce9178;
	@apply text-xl;
}
.codeWhite{
	color: #828282;
	@apply text-xl;
	@apply pl-2;
	@apply pr-4;
}